services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - postgres_data_5435:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6388:6379"
    volumes:
      - redis_data_6388:/data

volumes:
  postgres_data_5435:
  redis_data_6388:
